{% extends "public_template.html" %}

{% block main %}




<div class="container-fluid">

    <h1>Edit Articles</h1>
    <hr>
    <div class="row d-flex justify-content-between">
        <div class="col">
            <form method="POST" action="/admin/articles" class="form-row">
                {{ addArticleForm.csrf_token }}

                <div class="form-group col">
                    {{ addArticleForm.name(class="form-control",placeholder="Article Name")  }}
                </div>

                <div class="form-group col">
                    {{ addArticleForm.category(class="form-control",placeholder="Category") }}
                </div>

                <div class="form-group col">
                    {{ addArticleForm.stock(class="form-control",placeholder="Set Stock")}}
                </div>

                <div class="form-group col">
                    {{ addArticleForm.price(class="form-control",placeholder="Price")}}
                </div>

                <div class="form-group col">
                    {{ addArticleForm.url(class="form-control",placeholder="URL")}}
                </div>

                <div class="form-group col">
                    {{   addArticleForm.description(class="form-control",placeholder="Description")}}
                </div>

                <div class="form-group col">
                    {{ addArticleForm.submitArticle(class="btn-primary btn")}}
                </div>

            </form>

        </div>

    </div>




    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Left in Stock</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>

                <tbody>
                    {% for artikel in articles %}
                    <tr>
                        <div class="row">
                            <th>{{artikel[0]}}</th>
                            <td><a href="{{ url_for('admin.adminEditArticle',article_number=artikel[0])}}">{{ artikel[3] }}</a></td>
                            <td>{{ artikel[1] }}</td>
                            <td>{{ artikel[4] }}</td>
                            <td>{{ artikel[2] }}</td>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <br>
            <form method="POST" action="/admin/articles" class="form-row">
                {{ removeArticleForm.csrf_token }}

                <div class="form-group col">
                    {{ removeArticleForm.article(class="form-control",placeholder="Article Id")  }}
                </div>

                <div class="form-group col">
                    {{ removeArticleForm.submitRemoveArticle(class="btn-primary btn")}}
                </div>

            </form>
        </div>
    </div>

</div>


{% endblock %}