{% extends "public_template.html" %}

{% block main %}




<div class="container-fluid">

    <h1>Edit Categories</h1>
    <hr>
    <form action="/admin" class="form-row">
        <!--</form>method="POST"> ACTION ÄR VILKEN fil SOM KOMMER HANTERA DATAN-->

        <div class="col">
            <select class="form-control" id="category" placeholder="Choose category">
                {% for item in categories %}
                <option>{{item[0]}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <input type="Name" class="form-control" id="article" name="article" placeholder="Article name">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="stock" name="stock"
                placeholder="Left in stock">
        </div>

        <div class="col">
            <input type="number" class="form-control" id="price" name="price" placeholder="Price">
        </div>

        <div class="col">
            <button type="submit" class="btn-primary btn ">Add</button>
        </div>



</div>

<form action="/admin">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Left in Stock</th>
                <th scope="col">Price</th>
            </tr>
        </thead>

        <tbody>
            {% for artikel in artiklar %}
            <tr>
                <div class="row">
                    <th >{{artikel[3]}}</th>
                    <td>{{ artikel[0] }}</td>
                    <td>{{ artikel[1] }}</td>
                    <td>{{ artikel[2] }}</td>
                    <td><button type="submit" class="btn-primary btn" name="remove">Remove</button></td>
                    <td><button type="submit" class="btn-primary btn" name="edit">Edit</button></td>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

</div>

{% endblock %}