{% extends "public_template.html" %}

{% block main %}




<div class="container-fluid">

    <h1>Edit Categories</h1>
    <hr>
    <!-- <form action="/admin/categories" class="form-row" method="POST"> -->
    <!--</form>method="POST"> ACTION ÄR VILKEN fil SOM KOMMER HANTERA DATAN-->

    <!-- 
            <input type="text" class="form-control" id="categoryid" name="categoryfield" placeholder="Category name" required>
            
        </div>

        <div class="col">
            <button type="submit" name="submit" value="addCategory" class="btn-primary btn ">Add</button>
        
    </form>  -->


    <form method="POST" action="/admin/categories" class="form-row">
        {{ form.csrf_token }}

        <div class="col">
            {{ form.name(class="form-control") }}

        </div>
        <div class="col">
            {{ form.submit }}
        </div>
    </form>


</div>

<form action="/admin/categories" method="POST">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in categories %}
                    <tr>
                        <div class="row">
                            <th>{{ item[1] }}</th>
                            <td>{{ item[0] }}</td>
                            <!-- Fan för det här albin. Släng dig i väggen alla älskar min nya lösning ändå.
                    <td><button type="submit" class="btn-primary btn" name="submit" value="remove">Remove</button></td>
                    <td><button type="submit" class="btn-primary btn" name="edit">Edit</button></td>
                    -->
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="col">
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="removeid" name="removefield"
                        placeholder="Choose id of category to remove" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn-primary btn" name="submit" value="remove">Remove</button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="editid" name="editfield" placeholder="Edit category id"
                        required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="nameid" name="newname" placeholder="New category name"
                        required>
                </div>
                <div class="col">
                    <button type="submit" class="btn-primary btn" name="submit" value="edit">Edit</button>
                </div>
            </div>
        </div>
    </div>

</form>

</div>

{% endblock %}