{% extends "public_template.html" %}

{% block main %}

<div class="container">
 <div class="row">
  <div class="col">
	  <img class="img-fluid mw-100" src="{{ url_for('static', filename='img/noimage.png')  if picture == '' else picture}}">
   <h2>This is the name of the article</h2>
  </div>
  <div class="col">
      <div class="row">
           <table class="table table-striped">
              <tbody>
              {% for item in artiklar %}
                <tr>
                  <th scope="row">{{ item }}</th>
                  <td>{{ item }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="row">
            <form method="POST" class="form-inline ml-auto" action="{{ url_for('main.article',article_number=artiklar[0]) }}">
                {{ addToCartForm.csrf_token }}
                <div class="col">
                    {{ addToCartForm.quantity(class="form-control")}}
                </div>

                <div class="col">
                    {{ addToCartForm.submit(class="btn-primary btn")}}
                </div>


            </form>
        </div>
  </div>
 </div>
</div>

<div class="container ">
    {% for item in artiklar %}
    <div class="row">
        {% if loop.index0 % 2 == 0 %}
        <div class="col-8 bg-light">
        {% else %}
        <div class="col-8 bg-secondary text-white">
        {% endif %}
            <p>Det här är min kommentar, den här produkten kom aldrig fram. Wonder why.</p>
        </div>
        {% if loop.index0 % 2 == 0 %}
        <div class="col-4 bg-secondary text-white">
        {% else %}
        <div class="col-4 bg-light">
        {% endif %}
            <p>Skrivet av: AmazingReviewer {{ item }}</p>
            <p> 5 av 5</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
