{% extends "public_template.html" %}

{% block main %}


<div class="container">
    <h2>Kategori - {{ title }}</h2>

    <ul>
        {% for item in artiklar %}
        <li class="list-group-item list-group-item-action flex-column align-items-start">
            <a href="{{ url_for('main.article',article_number=item[0] ) }}">
                <div class="row d-flex w-100 ">
                    <div class="col">
                        <img class="img-fluid mw-100"
                            src="{{ url_for('static', filename='img/noimage.png') if item[1] == '' else item[1]}}">
                    </div>
                    <div class="col-5">
                        <h5>{{item[2]}}</h5>
                    </div>
                    <div class="col">   
                        <medium >{{item[3]}} kr</medium>
                    </div>

                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}