{% extends "public_template.html" %}



{% block main %}



<div class="container">
    <h2>Shopping Cart</h2>
    <div class="col">
        {% for artikel in artiklar %}

        <hr>
        <div class="row">
            <hr>

            <div class="col">
                {{artikel[0]}}
            </div>

            <div class="col">
                {{artikel[1]}} st
            </div>

            <div class="col">
                {{artikel[2]}} kr/st
            </div>

            <div class="col">
                {{artikel[2] * artikel[1] }} kr
            </div>

            <div class="col">
                <a href="{{ url_for('main.remove_item',article_number=artikel[4] ) }}">Remove</a>
            </div>

        </div>
        {% endfor %}
        <hr>
        <div class="row justify-content-center">
            <div class="col">
                <span>Total</span> : {{totalPrice}} kr

            </div>
            <div class="col">


                <a href="{{ url_for('main.cart_to_order') }}"><button class='btn btn-primary'>Lägg
                        beställning</button></a>


            </div>
        </div>
    </div>
</div>

{% endblock %}